.App {

  .app-header {
    border-bottom: 4px groove;
  }

  .wrap-grid {
    grid-template-columns: 3fr 1fr;
  }

  @media (max-width: 568px) {
    .wrap-grid {
      grid-template-columns: 1fr;

      .primary-sidebar {
        grid-row: 1;
      }
    }
  }
}


