body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid-container {
  display: grid;
}

.flex-container {
  display: flex;
  &.ai-center {
    align-items: center;
  }
  &.fd-column {
    flex-direction: column;
  }
}

.m-l-auto {
  margin-left: auto;
}

.p-1 {
  padding: 1rem;
}

.m-0 {
  margin: 0;
}

.fw-400 {
  font-weight: 400;
}
